body {
  background-color: #0e0d0d;
}

.grid {
  /* background-color: #240d4a; */
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  background-color: #240d4a;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  font-size: 35px;
  color: #ffffff;
}
